body
{
	background-color : #eeeeee;
}
h1
{
	color : green;
	text-align:center;
	font-weight:bold;
	font-family:DFKai-SB;
	font-size:48px;
}
#para1
{
	color : blue;
	font-size:36px;
	font-family:DFKai-SB;
	font-weight:bold;
	text-align:center;
}
#para2
{
	color : black;
	font-size:20px;
	font-family:DFKai-SB;
	font-weight:bold;
	text-align:center;
}
a
{
	
}
